/* site-wide CSS variables */

body {
  /* base colours */
  --hue-primary: 240;
  --sat-primary: 20%;
  --luma-main-bg: 50%;
  --hue-container-bg: 211;
  --sat-container-bg: 12%;
  --luma-container-bg: 48%;
  --hue-card-bg: 225;
  --sat-card-bg: 100%;
  --luma-card-bg: 80%;
  --hue-flowText: 0;
  --sat-flowText: 0%;
  --luma-flowText: 100%;

  --colour-main-bg: hsl(
    var(--hue-primary),
    var(--sat-primary),
    var(--luma-main-bg)
  );

  --colour-container-bg: hsl(
    var(--hue-container-bg),
    var(--sat-container-bg),
    var(--luma-container-bg)
  );

  --colour-card-bg: hsl(
    var(--hue-card-bg),
    var(--sat-card-bg),
    var(--luma-card-bg)
  );

  --colour-flowText: hsl(
    var(--hue-flowText),
    var(--sat-flowText),
    var(--luma-flowText)
  );

  --colour-links: gold;

  /* base measurements */

  --max-width-container: 80rem;
  --max-height-container: 20rem;
  --pad: clamp(0.5em, min(2vw, 4vh), 4em);
}

/* begin browser reset */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}
img,
fieldset,
object {
  border: none;
}
*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}
button,
label {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

/* end browser reset */

/* turn off visibility of hr element */

hr {
  display: none;
}

/* set main flow font */

body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 "poppins", arial, helvetica, sans-serif;
}

/* unify focus style */

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* begin main styles */

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background-color: var(--colour-main-bg);
  color: var(--colour-flowText);
}

#app > header,
#app > footer {
  padding: 0.5rem 1rem;
  flex-grow: 0;
}

#fauxBody > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(1em, var(--pad));
  padding: 1rem;
  text-align: center;
}

a {
  color: var(--colour-links);
}

h1 {
  font-size: 1.5em;
  line-height: 2;
}

.uppercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--max-width-container);
  margin: 4em auto;
  padding: 2rem var(--pad);
  gap: clamp(1rem, var(--pad), 2rem);
  background-color: var(--colour-container-bg);
}

.uppercontainer > article {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 30em;
  overflow: hidden;
  padding: 2rem var(--pad);
  background-color: var(--colour-card-bg);
  box-shadow: 10px 10px;
}

.lowercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: var(--max-height-container);
  max-width: var(--max-width-container);
  margin: 4em auto;
  padding: 1rem var(--pad);
  background-color: var(--colour-container-bg);
}

/* media query - kicks in below 420 pixels */
@media (max-width: 430px) {
  .uppercontainer > article {
    width: 10em;
  }
}
