/* site-wide CSS variables */

body {
  /* base colours */
  --hue-primary: 0;
  --sat-primary: 0%;
  --luma-main-bg: 50%;
  --luma-flowText: 100%;

  --colour-main-bg: hsl(
    var(--hue-primary),
    var(--sat-primary),
    var(--luma-main-bg)
  );

  --colour-flowText: hsl(
    var(--hue-primary),
    var(--sat-primary),
    var(--luma-flowText)
  );

  /* base measurements */

  --pad: clamp(0.5em, min(2vw, 4vh), 4em);
}

/* begin browser reset */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}
img,
fieldset,
object {
  border: none;
}
*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}
button,
label {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

/* end browser reset */

/* turn off visibility of hr element */

hr {
  display: none;
}

/* set main flow font */

body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 "poppins", arial, helvetica, sans-serif;
}

/* unify focus style */

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* begin main styles */

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

#app > header,
#app > footer {
  padding: 0.5rem 1rem;
  flex-grow: 0;
}

#app > header {
  display: flex;
}

#fauxBody > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(1em, var(--pad));
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  line-height: 2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem var(--pad);
  gap: clamp(1rem, var(--pad), 2rem);
}

.container > article {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 24em;
  overflow: hidden;
}
